h1 {

    color: #7157c1;

}


.logon-container{

    width: 100%; 
    max-width: 1120px;
    height: 100vh; /*Definido para ocupar a largura toda do corpo*/
    margin: 0 auto; /*Define a margin de altura 0 e de largura automatica que é = a centralizada */
    display: flex; /* display flex deixa itens alinhado um ao lado do outro como padrão */
    /*flex-direction: column; Alinha o flex de acordo com a opção escolhida*/
    border: 1px solid red;
    align-items: center; /*Ajusta alinhamento vertical*/
    justify-content: space-between ; /*Ajusta alinhamento horizontal*/
}

.logon-container section.form{

width: 100%;
max-width: 350px;
margin-right: 30px;

}

.logon-container section.form form{

    margin-top: 100px;

}

.logon-container section.form form h1{

font-size: 32px;
margin-bottom: 32px;

}




.teste1{

    background-color: green;

}